.DS_Store
client/node_modules
/clientEl
/dist

data.json
server/database/data.json
# local env files
env/
venv/
server/venv
server/env
server/.env.local
server/.env.*.local
server/resources/__pycache__/
server/database/__pycache__/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environmental Variables
.editorconfig
.env
server/.env
